*{
    margin: 0;
    padding: 0;
}

html{
    font-size: 16px;
}

body{
    background: linear-gradient(0deg, hsl(240, 73%, 65%) 0%, hsl(273, 75%, 66%) 100%);
   
}

main{
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 100px 60px;
}

.main-container{
    max-width: 960px;
    display: flex;
    height: 600px;
    background-color: white;
    border-radius: 20px;
    margin-left: 40px;
}

.image-column{
    width: 50%;
}

.hide-overflow{
    overflow: hidden;
    height: 100%;
}

.faq-column{
    box-sizing: border-box;
    width: 50%;
    padding: 70px 100px 70px 30px;
}

.bg-pattern-d{
    width: 220%;
    margin-top: -310px;
    margin-left: -630px;
}

.illustration-woman-d{
    width: 105%;
    position: relative;
    top: -640px;
    left: -80px;
}

.illustration-box{
    width: 40%;
    position: relative;
    top: -360px;
    left: -94px;
}

@media only screen and (min-width: 980px){
    .bg-pattern-m{
        display: none;
    }
    .illustration-woman-m{
        display: none;
    }
}


.attribution { font-size: 11px; text-align: center; display: block;}

.attribution a { color: hsl(228, 45%, 44%); }

